# Assignment

# Q1. What are the characteristics of the tuples? Is tuple immutable?

* Tuples are comma separated collection of data of varying datatypes.
* They are ordered.
* They are indexed.
* They can store duplicate values.
* They are enclosed within parenthesis.
* Yes, tuples are immutable. Once they are assigned, elements cant be changed.

# Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

### count() and index() are the two tuple methods in Python.

In [84]:
#example

t1 = ("Apple", "Banana", "Cat", 3 , 4.35 , True, "apple" , True)

In [85]:
t1

('Apple', 'Banana', 'Cat', 3, 4.35, True, 'apple', True)

In [70]:
#count() method counts the occurrance of the specified element
#Here it is counting the times the Boolean True is appearing

t1.count(True)

2

In [72]:
#index() method searches the index of the specified element

t1.index("apple")

6

### Tuples have only two in-built methods due to its immutability.

# Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list. List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

### Sets do not allow duplicate values

In [83]:
# Code using a set to remove duplicates from the given list. 

List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
set(List)

{1, 2, 3, 4}

# Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

## The union() and update() methods are both used for merging elements from one set into another set. However, there are some differences between them:

* union(): The union() method returns a new set that contains all elements from both the sets, without modifying either of the original sets.

In [91]:
#example

A = {11, 22, 33}
B = {'a', 'b', 'c'}
C = A.union(B)
print(A) 
print(B) 
print(C)

{33, 11, 22}
{'a', 'c', 'b'}
{'a', 33, 'c', 22, 11, 'b'}

* update(): The update() method adds all elements from one set into another set, modifying the original set. It is an inplace operation.

In [92]:
#example

A = {11, 22, 33}
B = {'a', 'b', 'c'}
C = A.update(B)
print(A) 
print(B) 
print(C)

{'a', 33, 'c', 22, 11, 'b'}
{'a', 'c', 'b'}
None

Note: Elements in above sets are arranging as per hash table.

# Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

* Dictionary in python is the key-value collection of data. 
* It encloses in braces. Each key-value pair is called an item. Each item is separated by comma. 
* Keys are immutable and unique while values can be mutable, immutable, and duplicate. 
* For previous versions of Python, it was unordered. Now, in Python, they have introduced a subclass named OrderedDict of dict to maintain the order of the items.

In [93]:
#example

d = {"College" : "abc" , "Branch" : ['Commerce' , 'Science' , 'Arts'] , "dept_code" : (101 , 102 , 103)}

In [94]:
d

{'College': 'abc',
 'Branch': ['Commerce', 'Science', 'Arts'],
 'dept_code': (101, 102, 103)}

# Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

### Ofcourse, it is possible to create a nested dictionary like as follows:

In [95]:
#Creating record of a student using dict

d1 = {"Dept" : "M.Sc.", "Student_name" : {"First_name" : "Rhea", "Last_name" : "Dhanwani"}, "Roll_no" : 101}
d1

{'Dept': 'M.Sc.',
 'Student_name': {'First_name': 'Rhea', 'Last_name': 'Dhanwani'},
 'Roll_no': 101}

# Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']

## dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [96]:
# usage of setdefault()

dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [97]:
dict1

{'language': 'Python', 'course': 'Data Science Masters'}

In [98]:
dict1.setdefault('topics', ['Python', 'Machine Learning', 'Deep Learning'])

['Python', 'Machine Learning', 'Deep Learning']

In [99]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

# Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.

## dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

### Keys, values and items are the 3 view objects in dictionaries.

In [100]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
dict1

{'Sport': 'Cricket',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand']}

In [101]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [32]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [33]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])